<strong>Recuperando senha</strong>

<p>
Uma solicitação de recuperação de senha foi enviado para o e-mail ({{email}}).
</p>

<p>
Utilize o token {{token}} para recuperar a senha ou urilize o link:
</p>

<a href="{{link}}">Criar nova senha</a>
